@font-face {
    font-family: "SF Pro";
    font-weight: 600;
    src: url('http://mta/mrp_infoscreen/components/fonts/semibold.ttf');
}

@font-face {
    font-family: "SF Pro";
    font-weight: 400;
    src: url('http://mta/mrp_infoscreen/components/fonts/regular.ttf');
}